<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <br>
    <div class = "container">
        <div class="row">
            <div class="col-1">
                <img src="http://adgitmdelhi.ac.in/wp-content/uploads/2018/07/adgitm-logo-80x80.png" alt="college logo">
            </div>
            <div class="col-11">
                <div class="name">DR. AKHILESH DAS GUPTA INSTITUTE OF TECHNOLOGY & MANAGEMENT, New Delhi</div>
                <h6>(Formerly Northern India Engineering College)<br>(Approved by AICTE, Accredited by NAAC. Affiliated to Guru Gobind Singh Indraprastha University)</h6>
            </div>
        </div>
        <br><br><br>
