<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Cabin&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Arvo&display=swap"
      rel="stylesheet"
    />
    <!-- <link href="main.css" rel="stylesheet" /> -->
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">AMS</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="home" style="display: none;">
          <li class="nav-item active">
            <a class="nav-link" href="/teacher/timetable"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>

        <!-- AJAX login check -->
        <ul class="navbar-nav  justify-content-end" id="userDropdown" style="display: none;">
          <li class="nav-item dropdown">
              <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" id="username">ERROR</button>
              <div class="dropdown-menu">
                <form method="POST" action="/users/logout">
                  <button type="submit" class="btn btn-danger">Logout</button>
                </form>
              </div>
              </div>
          </li>
        </ul>

        <script>

          checkLogin();

          function checkLogin() {

            console.log("called")

            var xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function() {
              // console.log(this.readyState, this.status)
              if(this.readyState == 4 && this.status == 200) {
                // console.log(this.responseText);
                var res = JSON.parse(this.responseText);
                if(res.logStatus == 1) {
                  userIn(res);
                }

              }
            }

            xhttp.open("POST", "/users/checkLogStatus", true);
            xhttp.send();
          }

          function userIn(details) {

            //set navbar home anchor
            document.getElementById('home').style.display = "";

            //set navbar dropdown
            displayUserInfo(details);


          }

          function displayUserInfo(details) {
            var element = document.getElementById('userDropdown');
            var name = document.getElementById('username');

            name.innerHTML = details.userName;
            element.style.display = "";
          }

        </script>
      </div>
    </nav>
    <div class="container">

      <h2 style="text-decoration:underline;margin-top:40px"><img src="https://img.icons8.com/color/48/000000/check-all.png" style="margin-right:20px">Attendence</h2>
      <div class="row">
        <div class="table-responsive"style="margin-top:40px">
          <form action="/teacher/attendance" method="post">
            <table class="table">
              <thead>
                <tr class="bg-primary" style="color:white">
                  <th>Roll No</th>
                  <th>Name</th>
                  <th>Attendence</th>
                </tr>
                <tbody>
                  <% for(let i=0; i<Students.length; i++) { %>
                    <tr>
                        <td><%= Students[i].studentRollNo %></td>
                        <td><%= Students[i].studentName %></td>
                        <td><input type="checkbox" name="<%= Students[i].studentRollNo %>"></td>
                    </tr>
                  <% } %>
                </tbody>
              </thead>
            </table>
            <button type="submit" class="btn btn-success btn-lg btn-block" style="margin:30px 0">Submit</button>
          </form>
          <div style="border-bottom:2px solid black;margin-bottom: 20px"></div>
          <h4>Total Students Present : </h4>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</html>
