<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link rel="shortcut icon" href=http://adgitmdelhi.ac.in/wp-content/uploads/2018/07/logo-adgitm-small2.jpg>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Cabin&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Arvo&display=swap"
      rel="stylesheet"
    />
    <!-- <link href="main.css" rel="stylesheet" /> -->
    <style>
      .card{
          -webkit-box-shadow: 0 10px 6px -6px #777;
          -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
          }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">AMS</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="home" style="display: none;">
          <li class="nav-item active">
            <a class="nav-link" href="/teacher/timetable"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>

        <!-- AJAX login check -->
        <ul class="navbar-nav  justify-content-end" id="userDropdown" style="display: none;">
          <li class="nav-item dropdown">
              <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" id="username">ERROR</button>
              <div class="dropdown-menu">
                <form method="POST" action="/users/logout">
                  <button type="submit" class="btn btn-danger">Logout</button>
                </form>
              </div>
              </div>
          </li>
        </ul>

        <script>

          checkLogin();

          function checkLogin() {

            console.log("called")

            var xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function() {
              // console.log(this.readyState, this.status)
              if(this.readyState == 4 && this.status == 200) {
                // console.log(this.responseText);
                var res = JSON.parse(this.responseText);
                if(res.logStatus == 1) {
                  userIn(res);
                }

              }
            }

            xhttp.open("POST", "/users/checkLogStatus", true);
            xhttp.send();
          }

          function userIn(details) {

            //set navbar home anchor
            document.getElementById('home').style.display = "";

            //set navbar dropdown
            displayUserInfo(details);


          }

          function displayUserInfo(details) {
            var element = document.getElementById('userDropdown');
            var name = document.getElementById('username');

            name.innerHTML = details.userName;
            element.style.display = "";
          }

        </script>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <img
          class="col-sm-12 col-lg-2 logo_image"
          src="http://adgitmdelhi.ac.in/wp-content/uploads/2018/07/logo-adgitm-small2.jpg"
          alt="ADGITM LOGO"
          style="width:150px;height:150px;margin: 0 auto;"
        />
        <div class="media-body col-lg-10" style="margin:30px 30px">
          <h4 class="mt-0 col-sm-12" style="font-family: 'Cabin', sans-serif;">
            <strong>DR. AKHILESH DAS GUPT INSTITUTE OF TECHNOLOGY AND MANAGEMENT</strong>
          </h4>
          <h4 class="col-sm-12" style="font-family: 'Arvo', serif;">
            <strong>Attendance Management System</strong>
          </h4>
          <hr />
        </div>
      </div>
      <div class="card-deck" style="margin-top:100px">
        <div
          class="card text-white mb-3"
          style="max-width: 18rem;margin: 0 auto; background-color: #33b5e5;"
        >
          <div class="card-header" style="background-color: #0099CC;">
            <h3 style="text-align: center">
              <img
                src="https://img.icons8.com/officel/40/000000/student-female.png"
              />Teacher
            </h3>
          </div>
          <div class="card-body">
            <form action="/users" method="post">
              <div class="form-group">
                <label for="exampleInputEmail1"><b>User Id</b></label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter User Id"
                  name="userid"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1"><b>Password</b></label>
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  placeholder="Password"
                  name="password"
                />
              </div>

              <button type="submit" class="btn btn-secondary">Login</button>
            </form>
          </div>
        </div>
        <div style="border-right:4px solid rgba(54, 49, 49, 0.5)"></div>
        <div
          class="card text-white mb-3"
          style="max-width: 18rem;margin: 0 auto;background-color: #00C851;"
        >
          <div class="card-header" style="background-color: #007E33;">
            <h3 style="text-align:center">
              <img
                src="https://img.icons8.com/bubbles/50/000000/student-male.png"
              />Student
            </h3>
          </div>
          <div class="card-body">
            <form action="/student/checkAttendance" method="post">
              <div class="form-group">
                <label for="exampleInputEmail1"><b>Roll No.</b></label>
                <input
                  type="number"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter Roll No."
                  name="rollNo"
                />
                <label for="exampleInputEmail1"><b>Section</b></label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter Section"
                  name="section"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1"><b>Department</b></label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputPassword1"
                  placeholder="Department Name"
                  name="department"
                />
              </div>

              <button type="submit" class="btn btn-success">
                Check Attendance
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</html>
