<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- <button type="button" hidden="true" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->



	<!-- <script src="/js/AJAX.js"></script> -->
	<script>

		function load(method, url, responseCallback, callbackArgs={}) {
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function () {
				if(this.readyState == 4) {
					console.log("Response text:", this.responseText);
					let res = JSON.parse(this.responseText);
					if(res.err) {
						console.log("Some error happens");
					} else {
						responseCallback(res, callbackArgs);
					}
				}
			}
			xhttp.open(method, url, true);
			xhttp.send();
		}


		load("POST", "/practice", (res, args) => {
			console.log("Practice response:", res);
			document.write(res)
		}, {})

	</script>
</body>
</html>