<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= section %></title>
</head>
<body>
<div class="container">
  
      <table class="table table-bordered table-striped table-sm mx-auto">

        <thead class="thead-dark">

          <tr>
            <% for(let i=0; i<arr[0].length; i++) { %>
              <th class="text-center" scope="col"><%= arr[0][i] %></th>
            <% } %>
          </tr>

        </thead>


        <tbody>
          <% for(let i=1; i<arr.length; i++) { %>

            <tr class="text-center">
              <th scope="row"><%= arr[i][0] %></th>
              <% for(let j=1; j<arr[i].length; j++) { %>
                <td><%= arr[i][j] %></td>
              <% } %>
            </tr>

          <% } %>

        </tbody>
      </table>
</div>
</body>
</html>