<%- include("partials/header"); -%>
        <div class="row">
            <div class="col-6">
                <h2>Teachers Section</h2>
                <a href="/login"><button type="button" class="btn btn-danger">Login</button></a>
            </div>
            <div class="col-6">
                <h2>Student Section</h2>
                <a href="/student/checkAttendance"><button type="submit" class="btn btn-info">Check Attendance</button></a>
            </div>
        </div>

<%- include("partials/footer"); -%>
